server:
  port: 10220

management:
  server:
    port: 10221
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true

monitor:
  sensor: http://192.168.1.125:80
  query: /api/<TOKEN>/lights
  token: config/api-token
  pollIntervalMs: 2000
  fullSnapshotSendIntervalMs: 600000

producer:
  id: hue-agent-producer-01
  config: config/status-monitor-hue-producer.properties

logging:
  level:
    root: INFO
    org.rj: DEBUG
