[Unit]
Description=Home control aggregation service"

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/sbin/home-control/home-control-aggregation.sh

[Install]
WantedBy=multi-user.target

