name: CI Pipeline

on:
  push:
    branches-ignore:
      - master

jobs:

  test:
    name: Build and test
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Init JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11

      - name: Maven build and test
        run: mvn -B clean install
