name: CI Pipeline

on:
  push:
    branches-ignore:
      - master

jobs:

  build-test-services:
    name: Build and test services
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Init JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11

      - name: Maven build and test
        run: mvn -B clean install

  build-test-ui:
    name: Build and test UI
    runs-on: ubuntu-20.04
    
    strategy:
      matrix:
        node-version: [ 14.x, 15.x ]
    
    steps:
      - name: Checkout
      - uses: actions/checkout@v2
      
      - name: Node.js${{ matrix.node-version }} build and test
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: cd aggregation-ui
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
