name: Build and publish
on:
  push:
    branches:
      - master
  release:
    types:
      - published

jobs:

  perform-release:
    name: Build and publish
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Init JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11

      - name: Maven build and test
        run: mvn -B clean install

      - name: Prepare image data
        id: prep
        run: |
          IMAGE=robjenks/home-control

          VERSION=latest
          if [[ $GITHUB_REF == refs/tags/v* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          fi

          TAGS_AGG="${IMAGE}:aggregation-${VERSION}"
          echo "Aggregation image: ${TAGS_AGG}"

          TAGS_AWAIR="${IMAGE}:monitor-agent-awair-${VERSION}"
          echo "Awair monitor agent image: ${TAGS_AWAIR}"

          TAGS_HUE="${IMAGE}:monitor-agent-hue-${VERSION}"
          echo "Hue monitor agent image: ${TAGS_HUE}"

          TAGS_ST="${IMAGE}:monitor-agent-st-${VERSION}"
          echo "ST monitor agent image: ${TAGS_ST}"

          echo ::set-output name=image::${IMAGE}
          echo ::set-output name=tags_agg::${TAGS_AGG}
          echo ::set-output name=tags_awair::${TAGS_AWAIR}
          echo ::set-output name=tags_hue::${TAGS_HUE}
          echo ::set-output name=tags_st::${TAGS_ST}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DH_USER }}
          password: ${{ secrets.DH_TOKEN }}

      - name: Publish aggregation image
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./aggregation/Dockerfile
          platforms: linux/arm/v7,linux/arm64,linux/amd64
          push: true
          tags: ${{ steps.prep.outputs.tags_agg }}

      - name: Publish Awair monitor agent image
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./monitor-agent-awair/Dockerfile
          platforms: linux/arm/v7,linux/arm64,linux/amd64
          push: true
          tags: ${{ steps.prep.outputs.tags_awair }}

      - name: Publish Hue monitor agent image
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./monitor-agent-hue/Dockerfile
          platforms: linux/arm/v7,linux/arm64,linux/amd64
          push: true
          tags: ${{ steps.prep.outputs.tags_hue }}

      - name: Publish ST monitor agent image
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./monitor-agent-st/Dockerfile
          platforms: linux/arm/v7,linux/arm64,linux/amd64
          push: true
          tags: ${{ steps.prep.outputs.tags_st }}
